.flagContainer {
    height: 60vmin;
    width: 90vmin;
    margin: 5vmin;
    border: 1px solid black;
    box-sizing: border-box
}
/* Indonesia */
#indonesia>* {
    height: 50%;
}
#indonesia>.topSegment {
    background-color: red
}
#indonesia>.bottomSegment {
    background-color: whitesmoke
}
/* Colombia */
.halfSegment {
    height: 50%;
}
#columbia .yellow {
    background-color: yellow
}
#columbia .blue {
    background-color: blue
}
#columbia .red {
    background-color: red
}
/* Ireland */
#ireland {
    display: flex
}
#ireland>.leftSegment, #ireland>.middleSegment, #ireland>.rightSegment {
    width: 100%
}
#ireland>.leftSegment {
    background-color: seagreen
}
#ireland>.middleSegment {
    background-color: whitesmoke
}
#ireland>.rightSegment {
    background-color: rgb(252, 143, 1)
}
/* France */
#france {
    font-size: 0
}
#france>* {
    display: inline-block;
    width: 33.33%;
    height: 100%
}
#france>.leftSegment {
    background-color: blue
}
#france>.middleSegment {
    background-color: whitesmoke
}
#france>.rightSegment {
    background-color: red
}
/* Benin */
#benin>* {
    float: left
}
.leftContainer {
    width: 40%;
    height: 100%;
    background-color: green
}
.rightContainer {
    width: 60%;
    height: 100%;
}
.rightContainer>* {
    width: 100%;
    height: 50%
}
.rightContainer>.topSegment {
    background-color: rgb(255, 217, 0)
}
.rightContainer>.bottomSegment {
    background-color: red
}
/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */