.flagContainer {
    height: 60vmin;
    width: 90vmin;
    margin: 5vmin;
    border: 1px solid black;
    box-sizing: border-box
}
/* Indonesia */
#indonesia>* {
    height: 50%;
}
#indonesia>.topSegment {
    background-color: red
}
#indonesia>.bottomSegment {
    background-color: whitesmoke
}
/* Colombia */

/* Ireland */
#ireland {
    display: flex
}
#ireland>.leftSegment, #ireland>.middleSegment, #ireland>.rightSegment {
    width: 100%
}
#ireland>.leftSegment {
    background-color: seagreen
}
#ireland>.middleSegment {
    background-color: whitesmoke
}
#ireland>.rightSegment {
    background-color: rgb(252, 143, 1)
}

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */