.flagContainer {
    height: 60vmin;
    width: 90vmin;
    margin: 5vmin;
    border: 1px solid black;
    box-sizing: border-box
}
/* Indonesia */
#indonesia>* {
    height: 50%;
}
#indonesia>.topSegment {
    background-color: red
}
#indonesia>.bottomSegment {
    background-color: whitesmoke
}
/* Colombia */
.halfSegment {
    height: 50%;
}
#columbia .yellow {
    background-color: yellow
}
#columbia .blue {
    background-color: blue
}
#columbia .red {
    background-color: red
}
/* Ireland */
#ireland {
    display: flex
}
#ireland>.leftSegment, #ireland>.middleSegment, #ireland>.rightSegment {
    width: 100%
}
#ireland>.leftSegment {
    background-color: seagreen
}
#ireland>.middleSegment {
    background-color: whitesmoke
}
#ireland>.rightSegment {
    background-color: rgb(252, 143, 1)
}
/* France */
#france {
    font-size: 0
}
#france>* {
    display: inline-block;
    width: 33.33%;
    height: 100%
}
#france>.leftSegment {
    background-color: blue
}
#france>.middleSegment {
    background-color: whitesmoke
}
#france>.rightSegment {
    background-color: red
}
/* Benin */
#benin>* {
    float: left
}
.leftContainer {
    width: 40%;
    height: 100%;
    background-color: green
}
.rightContainer {
    width: 60%;
    height: 100%;
}
.rightContainer>* {
    width: 100%;
    height: 50%
}
.rightContainer>.topSegment {
    background-color: rgb(255, 217, 0)
}
.rightContainer>.bottomSegment {
    background-color: red
}
/* Sweden */
#sweden {
    position: relative;
    background-color: rgb(0, 132, 255)
}
#sweden>.bar {
    position: absolute;
    background-color: rgb(255, 217, 0)
}
#sweden>.vertical {
    width: 12.5vmin;
    height: 100%;
    left: 33%;
}
#sweden>.horizontal {
    width: 100%;
    height: 12.5vmin;
    top: 50%;
    transform: translateY(-50%)
}
/* Switzerland */
#switzerland {
    position: relative;
    width: 60vmin;
    background-color: red
}
#switzerland>.bar {
    position: absolute;
    margin: 20%;
    background-color: whitesmoke
}#switzerland>.vertical {
    width: 20%;
    height: 60%;
    left: 30%;
    transform: translateX(-50%)
}
#switzerland>.horizontal {
    width: 60%;
    height: 20%;
    top: 30%;
    transform: translateY(-50%)
}
/* Tonga */
#tonga {
    background-color: red
}
#tonga>.crossContainer {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    background-color: whitesmoke
}
.crossContainer>.bar {
    position: absolute;
    margin: 20%;
    background-color: red
}
.crossContainer>.vertical {
    width: 20%;
    height: 60%;
    left: 30%;
    transform: translateX(-50%)
}
.crossContainer>.horizontal {
    width: 60%;
    height: 20%;
    top: 30%;
    transform: translateY(-50%)
}
/* Japan */
#japan {
    display: flex;
    background-color: whitesmoke
}
#japan>.circle {
    width: 35vmin;
    height: 35vmin;
    border-radius: 50%;
    margin: auto;
    background-color: red
}
/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */