.flagContainer {
    height: 60vmin;
    width: 90vmin;
    margin: 5vmin;
    border: 1px solid black;
    box-sizing: border-box
}
/* Indonesia */

/* Colombia */
.halfSegment {
    height: 50%;
}
#columbia .yellow {
    background-color: yellow
}
#columbia .blue {
    background-color: blue
}
#columbia .red {
    background-color: red
}
/* Ireland */

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */